/*переменная для цвета и шрифта */
:root {
  --main-title-color: #e5e5e5;
  --second-title-color: #2f303a;

  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #2f303a;
  --fourth-text-color: #2196f3;

  --accent-color: #2196f3;
  --white-hero: #ffffff;
  --background-color: #e5e5e5;
}

/* Шрифт для всего тела */
body {
  font-family: "Roboto";
  font-size: "14px";
  letter-spacing: 0.03em;
  background-color: var(--background-color);
  color: var(--first-text-color);
}

/*скидывает точки со списков li*/
.list {
  list-style: none;
}

/*забираю подчеркивание с сылок */
.link {
  text-decoration: none;
}
.header-email {
  text-decoration: none;
}
.header-tel {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: #757575;
}

.header-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.color {
  color: var(--first-text-color);
}

.header-studia {
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.02em;

  color: var(--first-text-color);
}
.header-studia:hover {
  color: var(--accent-color);
}

.header-portfolio {
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.02em;

  color: var(--first-text-color);
}
.header-portfolio:hover {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.02em;

  color: var(--first-text-color);
}
.header-link:hover {
  color: var(--accent-color);
}

.header-email {
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.02em;

  color: var(--first-text-color);
}
.header-email:hover {
  color: var(--accent-color);
}

.section-btn {
  font-family: "Rodoto";
  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 187% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-hero);
}

.section-hiro {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-hero);
}

/*стилизирую кнопки*/
.section-btn {
  cursor: pointer;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 187% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-hero);
}

.section-btnn {
  cursor: pointer;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: мфк(--white-hero);
}
.section-btnn:hover {
  color: var(--accent-color);
}

/* откключил заголовки*/
.one-ring {
  visibility: hidden;
}
/*секция качества над оторыми работает сайт */
.heading {
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--first-text-color);
}

.paragraph {
  font-weight: normal;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--second-text-color);
}

/*фотоотчет*/
.name {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--first-text-color);
}

/*Наша команда фотокарточки*/

.name-cart {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--first-text-color);
}

.name-developer {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--first-text-color);
}

.specification {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.1;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}

/*сексция однотипным контентом (портфолио)*/

.portfolio {
  font-weight: bold;
  font-size: 18px;
  line-height: 2px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: var(--first-text-color);
}
